<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Resume</title>
  </head>
  <body>
    <header>
      <h1>Eric Nohara-LeClair</h1>
      <h2>My Online Resume</h2>
    </header>
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="education.html">Education</a></li>
        <li><a href="experiences.html">Work Experience</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="references.html">References</a></li>
        <li><a href="achievements.html">Achievements</a></li>
      </ul>
    </nav>
    <main>
      <h2>Work Experience</h2>
      <div class="experience-container">
        <h3>Boston University: CS237 Course Assistant</h3>
        <b
          >Boston, MA <span><i>Janurary 2024 - May 2024</i></span></b
        >
        <ul>
          <li>
            Assisted in facilitating the Spring 2024 CS 237 Course (Probability
            in Computing).
          </li>
          <li>
            Addressed student inquiries, formulated problem set solutions, and
            diligently contributed to grading.
          </li>
        </ul>
      </div>
      <div class="experience-container">
        <h3>Kappa Theta Pi Professional Fraternity: Website Comittee Leader</h3>
        <b
          >Boston, MA <span><i>September 2024 - Present</i></span></b
        >
        <ul>
          <li>
            Lead team of frontend web developers to build and maintain
            <a href="https://ktpbostonu.com/index.html"
              >Kappa Theta Pi official website</a
            >
            utilizing HTML, CSS, JavaScript to create beautiful and efficient
            website design with all necessary information
          </li>
        </ul>
      </div>
      <div class="experience-container">
        <h3>Nami Ramen: Cashier and Server</h3>
        <b
          >St. Louis, MO
          <span
            ><i>May 2022 – September 2022, May 2023 – September 2023</i></span
          ></b
        >
        <ul>
          <li>
            Provided exemplary customer service, attended to patrons, cleared
            tables, and fulfilled takeout orders
          </li>
        </ul>
      </div>
    </main>
    <footer>
      <p>
        All Rights Reserved by Eric Nohara-LeClair <a href="">Credits</a> &copy
      </p>
    </footer>
  </body>
</html>
