<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Resume</title>
  </head>
  <body>
    <header>
      <h1>Eric Nohara-LeClair</h1>
      <h2>My Online Resume</h2>
    </header>
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="education.html">Education</a></li>
        <li><a href="experiences.html">Experiences</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="references.html">References</a></li>
        <li><a href="achievements.html">Achievements</a></li>
      </ul>
    </nav>
    <main>
      <h2>Projects</h2>
    </main>
    <footer>
      <p>
        All Rights Reserved by Eric Nohara-LeClair <a href="">Credits</a> &copy
      </p>
    </footer>
  </body>
</html>
