<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Resume</title>
  </head>
  <body>
    <header>
      <h1>Eric Nohara-LeClair</h1>
      <h2>My Online Resume</h2>
    </header>
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="education.html">Education</a></li>
        <li><a href="experiences.html">Work Experience</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="skills.html">Skills</a></li>
        <li><a href="references.html">References</a></li>
      </ul>
    </nav>
    <main>
      <h2>Skills</h2>
      <div class="skills-container">
        <h3>Programming Languages</h3>
        <ul>
          <li>Python</li>
          <li>JavaScript</li>
          <li>C</li>
          <li>C++</li>
          <li>Java</li>
          <li>HTML/CSS</li>
          <li>OCaml</li>
          <li>SQL</li>
          <li>x86 Assembly</li>
        </ul>
      </div>
      <div class="skills-container">
        <h3>Developer Skills</h3>
        <ul>
          <li>Git with GitHub</li>
          <li>Linux</li>
          <li>Bash Scripting</li>
          <li>Docker</li>
          <li>Object Oriented and Functional Programming</li>
          <li>Multithreaded Applications</li>
          <li>Node.js</li>
          <li>Express</li>
          <li>React.js</li>
          <li>MongoDB</li>
          <li>Templating Engines</li>
          <li>AWS</li>
        </ul>
      </div>
    </main>
    <footer>
      <p>
        All Rights Reserved by Eric Nohara-LeClair <a href="">Credits</a> &copy
      </p>
    </footer>
  </body>
</html>
