#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 2rem;
  background-color: black;
  padding: 4vw;
  border-radius: 1rem;
}

#calculator > input {
  width: 100%;
  height: 7vw;
  font-size: calc(2vw);
  padding-left: 1rem;
  border-radius: 1rem;
  margin-bottom: 7%;
  font-family: inherit;
  background-color: var(--calc-input-color);
  border: none;
  color: white;
}

.calc-output-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7vw;
  background-color: var(--calc-output-color);
  border-radius: 1rem;
  font-size: calc(2vw);
}

.btn-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7%;
}

.calc-btn-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 5rem);
  justify-items: center;
  align-items: center;
}

.btn-row > button {
  width: 25%;
  height: calc(6vw);
  font-size: calc(4vw);
  border-radius: 2rem;
  font-weight: bold;
  background-color: var(--calc-btn-color);
  color: white;
  border: none;
}

#clear-btn {
  font-size: calc(2vw);
}

.btn-row > button:hover {
  cursor: pointer;
}

.btn-row > button:active {
  background-color: var(--calc-btn-color-active);
}

.warning::placeholder {
  color: red;
}
